@media (max-width: 767px){
    .bar-selector{
        gap: 20px;
        width: 300px;
        font-size: 12px;
    }
    .titulo-inicio{
        margin-top: 30px;
    }
    .titulo-inicio h1{
        font-size: 22px;
    }
    .titulo-inicio h2{
        font-size: 16px;
        margin-top: 5px;
    }
    .descripcion-perfil{
        font-size: 14px;
        text-align: center;
    }

    .titulo-trabajos{
        font-size: 10px;
    }
    .card{
        width: 300px;
        padding: 25px 30px;
        border-radius: 20px;
    }
    .titulo-trabajo{
        text-align: center;
    }
    .puesto-trabajo{
        text-align: center;
    }
    .trabajo-descripcion{
        text-align: center;
    }
    .trabajo-final{
        text-align: center;
    }

    .card-proyecto{
        display: flex;
        width: 350px;
    }
    .proyecto-titulo{
        border-radius: 20px;
        width: 350px;
    }
}